<aside class="object-tree" aria-label="Object tree">
  <div class="object-tree__header">Router</div>
  <ul class="object-tree__list">
    <li><a href="#" data-window-type="interfaces">Interfaces</a></li>
    <li><a href="#" data-window-type="routes">Routes</a></li>
    <li><a href="#" data-window-type="processes">Processes</a></li>
    <li><a href="#" data-window-type="blocks">Blocks</a></li>
    <li><a href="#" data-window-type="runs">Runs</a></li>
    <li><a href="#" data-window-type="queues">Queues</a></li>
    <li><a href="#" data-window-type="policies">Policies</a></li>
    <li><a href="#" data-window-type="secrets">Secrets</a></li>
    <li><a href="#" data-window-type="config">Config</a></li>
    <li><a href="#" data-window-type="logs">Logs</a></li>
    <li><a href="#" data-window-type="artifacts">Artifacts</a></li>
    <li><a href="#" data-window-type="system">System</a></li>
  </ul>
</aside>
