<%== render("partials/top_bar", locals: { status: @status }) %>

<main class="console">
  <%== render("partials/object_tree") %>
  <%== render("partials/workspace") %>
</main>

<%== render("partials/taskbar") %>
